Examples/Net/BigDocForum/BigDocForum/Service References/FTSearchService/FTSearchService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FTSearchService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5050/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5050/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5050/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FTSearchService_StartInstance_InputMessage">
    <wsdl:part name="parameters" element="tns:StartInstance" />
  </wsdl:message>
  <wsdl:message name="FTSearchService_StartInstance_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartInstanceResponse" />
  </wsdl:message>
  <wsdl:message name="FTSearchService_ClearInstance_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearInstance" />
  </wsdl:message>
  <wsdl:message name="FTSearchService_ClearInstance_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearInstanceResponse" />
  </wsdl:message>
  <wsdl:message name="FTSearchService_IndexText_InputMessage">
    <wsdl:part name="parameters" element="tns:IndexText" />
  </wsdl:message>
  <wsdl:message name="FTSearchService_IndexText_OutputMessage">
    <wsdl:part name="parameters" element="tns:IndexTextResponse" />
  </wsdl:message>
  <wsdl:message name="FTSearchService_SearchPhrase_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchPhrase" />
  </wsdl:message>
  <wsdl:message name="FTSearchService_SearchPhrase_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchPhraseResponse" />
  </wsdl:message>
  <wsdl:portType name="FTSearchService">
    <wsdl:operation name="StartInstance">
      <wsdl:input wsaw:Action="http://tempuri.org/FTSearchService/StartInstance" message="tns:FTSearchService_StartInstance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FTSearchService/StartInstanceResponse" message="tns:FTSearchService_StartInstance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClearInstance">
      <wsdl:input wsaw:Action="http://tempuri.org/FTSearchService/ClearInstance" message="tns:FTSearchService_ClearInstance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FTSearchService/ClearInstanceResponse" message="tns:FTSearchService_ClearInstance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IndexText">
      <wsdl:input wsaw:Action="http://tempuri.org/FTSearchService/IndexText" message="tns:FTSearchService_IndexText_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FTSearchService/IndexTextResponse" message="tns:FTSearchService_IndexText_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchPhrase">
      <wsdl:input wsaw:Action="http://tempuri.org/FTSearchService/SearchPhrase" message="tns:FTSearchService_SearchPhrase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FTSearchService/SearchPhraseResponse" message="tns:FTSearchService_SearchPhrase_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_FTSearchService" type="tns:FTSearchService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StartInstance">
      <soap:operation soapAction="http://tempuri.org/FTSearchService/StartInstance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearInstance">
      <soap:operation soapAction="http://tempuri.org/FTSearchService/ClearInstance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IndexText">
      <soap:operation soapAction="http://tempuri.org/FTSearchService/IndexText" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchPhrase">
      <soap:operation soapAction="http://tempuri.org/FTSearchService/SearchPhrase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FTSearchService">
    <wsdl:port name="BasicHttpBinding_FTSearchService" binding="tns:BasicHttpBinding_FTSearchService">
      <soap:address location="http://localhost:5050/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>