Examples/Net/Booben/Booben/Service References/FTSearchService7/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FTSearchWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FTSearchWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5056/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:5056/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="FTSearch.RelevantResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="MatchWords" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Results" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FTSearch.RelevantResult" nillable="true" type="tns:FTSearch.RelevantResult" />
  <xs:complexType name="ArrayOfFTSearch.Selector">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FTSearch.Selector" nillable="true" type="tns:FTSearch.Selector" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFTSearch.Selector" nillable="true" type="tns:ArrayOfFTSearch.Selector" />
  <xs:complexType name="FTSearch.Selector">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgregationSortType" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="AgregationType" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="ConditionType" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="FilePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSortAsc" type="xs:boolean" />
      <xs:element minOccurs="0" name="MaxBound" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MinBound" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Operand2" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="RangeType" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="SelectorType" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FTSearch.Selector" nillable="true" type="tns:FTSearch.Selector" />
  <xs:complexType name="FTSearch.FTSInstanceInfo">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ControlValue" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="CountWordsHDD" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="CountWordsRAM" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="DocumentNameSize" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="HasError" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastNameIDHDD" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="LastNameIDRAM" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="RelevantLevel" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="ReservedValue1" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="ReservedValue2" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="ReservedValue3" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="ReservedValue4" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="ReservedValue5" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="TotalMemory" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="UsedMemory" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="Version" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="WordsHeaderBase" type="xs:unsignedInt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FTSearch.FTSInstanceInfo" nillable="true" type="tns:FTSearch.FTSInstanceInfo" />
</xs:schema>